<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.Management.dao.EdocentryMapper">
    <select id="centrylist" resultType="cn.Management.entity.Edocentry">
        SELECT * FROM `edoc_entry`
        <trim prefix="where 1=1">
            <if test="categoryId!=null and categoryId!=0">
                and categoryId=#{categoryId}
            </if>
        </trim>
        order by id desc
    </select>

    <insert id="addcentry">
        INSERT INTO `edoc_entry`
        VALUES(null,#{categoryId},#{title},#{summary},#{uploaduser},#{createdate});
    </insert>

    <delete id="delete">
        DELETE FROM `edoc_entry` WHERE id=#{id};
    </delete>

    <update id="update">
        update edoc_entry set
        <trim suffixOverrides="," suffix="where id=#{id}">
            <if test="categoryId!=null">
                categoryId=#{categoryId},
            </if>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="summary!=null">
                summary=#{summary},
            </if>
            <if test="uploaduser!=null">
                uploaduser=#{uploaduser},
            </if>
            <if test="createDate!=null">
                createDate=#{createDate},
            </if>

        </trim>
    </update>

    <select id="edocentry" resultType="cn.Management.entity.Edocentry">
           SELECT *FROM edoc_entry WHERE id=#{id}
    </select>
</mapper>